<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Go by Example中文版：Not Found</title>
    <link rel=stylesheet href="./site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="/" type="text/html">Go by Example中文版</a></h2>
      <p>对不起，找不到这个页面！去看看<a href="/">首页</a>?</p>
      <p class="footer">
        <a href="https://twitter.com/mmcgrana">@mmcgrana</a> 编写 | <a href="https://github.com/gobyexample-cn/gobyexample/issues">反馈</a> | <a href="https://github.com/gobyexample-cn/gobyexample">源码</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
