<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Go by Example 中文:{{.Name}}</title>
    <link rel=stylesheet href="/site.css">
	  <link rel="canonical" href="https://xg-wang.github.io/gobyexample/{{.Id}}" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89386915-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89386915-2');
    </script>
  </head>
  <body>
    <div class="example" id="{{.Id}}">
      <h2><a href="/">Go by Example 中文</a>：{{.Name}}</h2>
      {{range .Segs}}
      <table>
        {{range .}}
        <tr>
          <td class="docs">
            {{.DocsRendered}}
          </td>
          <td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
	        {{if .CodeRun}}<a href="http://play.golang.org/p/{{$.UrlHash}}"><img title="Run code" src="/play.png" class="run" /></a>{{end}}
            {{.CodeRendered}}
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
      {{if .NextExample}}
      <p class="next">
        下一个例子: <a href="/{{.NextExample.Id}}">{{.NextExample.Name}}</a>.
      </p>
      {{end}}
      <p class="footer">
        <a href="https://twitter.com/mmcgrana">@mmcgrana</a> 编写 | <a href="https://plus.google.com/u/0/113729799374513477039">everyx</a> 翻译 | <a href="https://github.com/xg-wang/gobyexample">项目地址</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
