<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Go by Example 中文版：{{.Name}}</title>
    <link rel="stylesheet" href="/site.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89386915-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89386915-2');
    </script>
  </head>
  <body>
    <div class="example" id="{{.Id}}">
      <h2><a href="/" type="text/html">Go by Example 中文版</a>：{{.Name}}</h2>
      {{range .Segs}}
      <table>
        {{range .}}
        <tr>
          <td class="docs">
            {{.DocsRendered}}
          </td>
          <td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
	        {{if .CodeRun}}<a href="http://play.golang.org/p/{{$.UrlHash}}"><img title="Run code" src="/play.png" class="run" /></a>{{end}}
            {{.CodeRendered}}
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
      {{if .NextExample}}
      <p class="next">
        下一个例子: <a href="/{{.NextExample.Id}}.html" type="text/html">{{.NextExample.Name}}</a>.
      </p>
      {{end}}
      <p class="footer">
        <a href="https://twitter.com/mmcgrana">@mmcgrana</a> 编写 | <a href="https://github.com/xg-wang/gobyexample/issues">反馈</a> | <a href="https://github.com/xg-wang/gobyexample/blob/master/examples/{{.Id}}">源码</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
