<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example 中文版</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example 中文版</a></h2>
      <p>
        <a href="http://golang.org">Go</a> 是一门被设计用来构建简单、高效、可信赖软件的开源程序设计语言。
      </p>

      <p>
        <em>Go by Example</em> 是对 Go 基于实践的介绍，包含一系列带有注释说明的示例程序。查看<a href="hello-world">第一个例子</a>或者浏览下面的完整列表吧。
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
